* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.padre {
  width: 100%;
  height: 100vh;
  border: 0.2rem black dotted;
  display: inline-block;
}

.box {
  display: inline-block;
  background-color: rgb(236, 253, 139);
  width: 10rem;
  height: 10rem;
}

#uno {
  background-color: coral;
  position: sticky;
  top: 110px;
  right: 0px;
}
#dos {
  background-color: rgb(0, 255, 21);
  position: fixed;
  bottom: 15rem;
}
#tres {
  background-color: rgb(42, 88, 173);
  position: absolute;
  right: 0;
}
#cuatro {
  background-color: rgb(251, 255, 2);
  position: relative;
  top: 15rem;
  left: 10rem;
}
